// PurpAMOLED+
// AMOLED version of PurpDark with better icons
//
// Original theme by @vorlie.
// Modified by @a35hie.

.index
  .name
    content: "PurpAMOLED+"

  .description
    content: "AMOLED version of PurpDark with better icons"

  .version
    content: "2.0"

  .authors
    [index="1"]
      .name
        content: "@vorlie"
      .id
        content: "614807913302851594"

    [index="2"]
      .name
        content: "@a35hie"
      .id
        content: "1118629361675939860"

  // @override children[*] Array<string>
  .semanticColors
    .APP_FRAME_BORDER
      color: #1B0122
    .ACTION_SHEET_GRADIENT_BG
      color: #120C13
    .ANDROID_RIPPLE
      color: #6C4878

    .BACKGROUND_ACCENT
      color: #1F1521
    .BACKGROUND_MENTIONED
      color: #7F08A833
    .BACKGROUND_MENTIONED_HOVER
      color: #A571B780
    .BACKGROUND_MESSAGE_HOVER
      color: #1F1521
    .BACKGROUND_MODIFIER_ACCENT
      color: #000000
    .BACKGROUND_MODIFIER_ACTIVE
      color: #1B0122
    .BACKGROUND_MODIFIER_HOVER
      color: #1F1521
    .BACKGROUND_MODIFIER_SELECTED
      color: #1F1521
    .BACKGROUND_MOBILE_PRIMARY
      color: #000000
    .BACKGROUND_MOBILE_SECONDARY
      color: #000000
    .BACKGROUND_NESTED_FLOATING
      color: #120C13
    .BACKGROUND_PRIMARY
      color: #000000
    .BACKGROUND_SECONDARY
      color: #000000
    .BACKGROUND_SECONDARY_ALT
      color: #120C13

    .BG_SURFACE_RAISED
      color: #120C13
    .BACKGROUND_BASE_LOW
      color: #000000
    .BACKGROUND_BASE_LOWEST
      color: #000000
    .BACKGROUND_BASE_LOWER
      color: #000000

    .BORDER_FAINT
      color: #6C4878
    .CARD_PRIMARY_BG
      color: #120C13
    .CARD_PRIMARY_PRESSED_BG
      color: #1F1521
    .CARD_SECONDARY_BG
      color: #1F1521

    .CHANNEL_ICON
      color: #683ebb
    .CHANNELS_DEFAULT
      color: #8871B7
    .CHANNELTEXTAREA_BACKGROUND
      color: #000000
    .CHAT_BACKGROUND
      color: #000000
    .EMBED_BACKGROUND
      color: #120C13

    .HEADER_PRIMARY
      color: #5D3EBB
    .HEADER_SECONDARY
      color: #5D3EBB
    .INPUT_BACKGROUND
      color: #000000

    .INTERACTIVE_ACTIVE
      color: #8260DC
    .INTERACTIVE_HOVER
      color: #8665d3
    .INTERACTIVE_MUTED
      color: #5A4283
    .INTERACTIVE_NORMAL
      color: #714DD8

    .TEXT_LINK
      color: #9568FF
    .TEXT_NORMAL
      color: #FAEBFF
    .TEXT_MUTED
      color: #9F8FC5
    .TEXT_PRIMARY
      color: #FAEBFF

    .THREAD_CHANNEL_SPINE
      color: #613ebb

    .BG_BASE_PRIMARY
      color: #000000
    .BG_BASE_SECONDARY
      color: #000000
    .BG_BASE_TERTIARY
      color: #120C13
    .BG_MOD_FAINT
      color: #584878
    .BG_MOD_STRONG
      color: #1F1521
    .BG_MOD_SUBTLE
      color: #7F08A833

    .REDESIGN_ACTIVITY_CARD_BACKGROUND
      color: #120C13
    .CONTROL_CRITICAL_PRIMARY_BACKGROUND_ACTIVE
      color: #7F08A8
    .CONTROL_PRIMARY_BACKGROUND_DEFAULT
      color: #7F08A8
    .CONTROL_PRIMARY_BACKGROUND_ACTIVE
      color: #9C3EBB
    .CONTROL_SECONDARY_BACKGROUND_DEFAULT
      color: #1F1521
    .CONTROL_SECONDARY_BACKGROUND_ACTIVE
      color: #120C13
    .CONTROL_SECONDARY_BORDER_DEFAULT
      color: #6C4878
    .CONTROL_SECONDARY_BORDER_ACTIVE
      color: #5A4283

    .REDESIGN_BUTTON_TERTIARY_BACKGROUND
      color: #120C13
    .REDESIGN_CHANNEL_CATEGORY_NAME_TEXT
      color: #BA9CFF
    .REDESIGN_CHANNEL_NAME_TEXT
      color: #FAEBFF
    .REDESIGN_CHAT_INPUT_BACKGROUND
      color: #120C13

    .MENTION_FOREGROUND
      color: #BA9CFF
    .BACKGROUND_MOD_MUTED
      color: #120C13
    .STANDALONE_CHANNEL_CONTENT_BACKGROUND
      color: #000000
    .STANDALONE_CHANNEL_HEADER_BORDER
      color: #1B0122
    .INPUT_BACKGROUND_DEFAULT
      color: #000000
    .INPUT_BORDER_ACTIVE
      color: #683ebb
    .MOBILE_ACTIONSHEET_BACKGROUND
      color: #000000
    .MOBILE_ACTIONSHEET_GRADIENT_BACKGROUND_DEFAULT
      color: #120C13
    .MOBILE_CHANNEL_ITEM_BACKGROUND_SELECTED
      color: #1F1521
    .MOBILE_SEGMENTED_CONTROL_BACKGROUND
      color: #120C13
    .PANEL_BG
      color: #000000
    .BACKGROUND_SURFACE_HIGH
      color: #120C13
    .TAB_BAR_BACKGROUND
      color: #000000


  .rawColors
    .PRIMARY_100
      color: #FFFFFF
    .PRIMARY_200
      color: #F0C4FF
    .PRIMARY_300
      color: #FAEBFF
    .PRIMARY_330
      color: #E8D9F0
    .PRIMARY_360
      color: #8871B7
    .PRIMARY_400
      color: #8571B7
    .PRIMARY_460
      color: #6C4878
    .PRIMARY_500
      color: #8B71B7
    .PRIMARY_530
      color: #7F5FA8
    .PRIMARY_600
      color: #000000
    .PRIMARY_630
      color: #120C13
    .PRIMARY_645
      color: #120C13
    .PRIMARY_660
      color: #000000
    .PRIMARY_700
      color: #000000
    .PRIMARY_730
      color: #1F1521
    .PRIMARY_800
      color: #000000

    .PLUM_10
      color: #6C4878
    .PLUM_15
      color: #9C3EBB
    .PLUM_16
      color: #120C13
    .PLUM_17
      color: #000000
    .PLUM_18
      color: #1F1521
    .PLUM_20
      color: #120C13
    .PLUM_3
      color: #FFFFFF
    .PLUM_4
      color: #F0C4FF
    .PLUM_6
      color: #DCC4FF

    .BRAND_200
      color: #D5B5FF
    .BRAND_250
      color: #CBA5FF
    .BRAND_260
      color: #7F08A8
    .BRAND_300
      color: #B98FFF
    .BRAND_330
      color: #AF80F5
    .BRAND_345
      color: #A776EB
    .BRAND_360
      color: #9F6CDF
    .BRAND_400
      color: #9664D3
    .BRAND_430
      color: #8D5CC7
    .BRAND_500
      color: #7F08A8
    .BRAND_530
      color: #781F9A
    .BRAND_560
      color: #F0C4FF
    .BRAND_600
      color: #6F1C8E
    .BRAND_630
      color: #681A85
    .BRAND_660
      color: #60177B
    .BRAND_700
      color: #581572
    .BRAND_730
      color: #501269
    .BRAND_760
      color: #481060
    .BRAND_800
      color: #400E56
    .BRAND_830
      color: #380B4D
    .BRAND_860
      color: #300943
    .BRAND_900
      color: #28073A

    .RED_100
      color: #D5B5FF
    .RED_130
      color: #CBA5FF
    .RED_160
      color: #C19AFF
    .RED_200
      color: #B98FFF
    .RED_230
      color: #AF80F5
    .RED_260
      color: #A776EB
    .RED_300
      color: #9F6CDF
    .RED_330
      color: #9664D3
    .RED_345
      color: #8D5CC7
    .RED_360
      color: #8556BD
    .RED_400
      color: #7F08A8
    .RED_430
      color: #781F9A
    .RED_460
      color: #711D92
    .RED_500
      color: #6A1B89
    .RED_530
      color: #641981
    .RED_560
      color: #5D1779
    .RED_600
      color: #561571
    .RED_630
      color: #4F1368
    .RED_660
      color: #481060
    .RED_700
      color: #410E57
    .RED_730
      color: #3A0D4F
    .RED_760
      color: #330B46
    .RED_800
      color: #2C093E
    .RED_830
      color: #250835
    .RED_860
      color: #1E062D
    .RED_900
      color: #170524

    .GREEN_100
      color: #D5B5FF
    .GREEN_130
      color: #CBA5FF
    .GREEN_160
      color: #C19AFF
    .GREEN_200
      color: #B98FFF
    .GREEN_230
      color: #AF80F5
    .GREEN_260
      color: #A776EB
    .GREEN_300
      color: #9F6CDF
    .GREEN_330
      color: #9664D3
    .GREEN_345
      color: #8D5CC7
    .GREEN_360
      color: #8556BD
    .GREEN_400
      color: #7F08A8
    .GREEN_430
      color: #781F9A
    .GREEN_460
      color: #711D92
    .GREEN_500
      color: #6A1B89
    .GREEN_530
      color: #641981
    .GREEN_560
      color: #5D1779
    .GREEN_600
      color: #561571
    .GREEN_630
      color: #4F1368
    .GREEN_660
      color: #481060
    .GREEN_700
      color: #410E57
    .GREEN_730
      color: #3A0D4F
    .GREEN_760
      color: #330B46
    .GREEN_800
      color: #2C093E
    .GREEN_830
      color: #250835
    .GREEN_860
      color: #1E062D
    .GREEN_900
      color: #170524

    .CHAT_MENTIONS_BACKGROUND_DARK
      color: #7F08A84D
    .CHAT_MENTIONS_FOREGROUND_DARK
      color: #BA9CFF
    .GUILD_BOOSTING_BLUE
      color: #BA9CFF
    .GUILD_BOOSTING_BLUE_FOR_GRADIENTS
      color: #A571B7
    .GUILD_BOOSTING_PINK
      color: #9C3EBB
    .GUILD_BOOSTING_PINK_REFRESH
      color: #9568FF
    .GUILD_BOOSTING_PURPLE
      color: #8F55D6
    .GUILD_BOOSTING_PURPLE_FOR_GRADIENTS
      color: #7F08A8

    .ORANGE_260
      color: #BA9CFF
    .ORANGE_300
      color: #A571B7
    .ORANGE_330
      color: #9C3EBB
    .ORANGE_345
      color: #9568FF
    .ORANGE_360
      color: #8F55D6
    .ORANGE_400
      color: #884DCC
    .ORANGE_430
      color: #8147C2
    .ORANGE_460
      color: #7A41B8
    .ORANGE_500
      color: #733BAE
    .ORANGE_530
      color: #6C35A4
    .ORANGE_560
      color: #652F9A
    .ORANGE_600
      color: #5E298F
    .ORANGE_630
      color: #572385
    .ORANGE_660
      color: #501D7B
    .ORANGE_700
      color: #491771

    .YELLOW_260
      color: #BA9CFF
    .YELLOW_300
      color: #A571B7
    .YELLOW_330
      color: #9C3EBB
    .YELLOW_345
      color: #9568FF
    .YELLOW_360
      color: #8F55D6
    .YELLOW_400
      color: #884DCC
    .YELLOW_430
      color: #8147C2
    .YELLOW_460
      color: #7A41B8
    .YELLOW_500
      color: #733BAE
    .YELLOW_530
      color: #6C35A4
    .YELLOW_560
      color: #652F9A
    .YELLOW_600
      color: #5E298F
    .YELLOW_630
      color: #572385
    .YELLOW_660
      color: #501D7B
    .YELLOW_700
      color: #491771

    .BLUE_260
      color: #BA9CFF
    .BLUE_300
      color: #A571B7
    .BLUE_330
      color: #9C3EBB
    .BLUE_345
      color: #9568FF
    .BLUE_360
      color: #8F55D6
    .BLUE_400
      color: #884DCC
    .BLUE_430
      color: #8147C2
    .BLUE_460
      color: #7A41B8
    .BLUE_500
      color: #733BAE
    .BLUE_530
      color: #6C35A4
    .BLUE_560
      color: #652F9A
    .BLUE_600
      color: #5E298F
    .BLUE_630
      color: #572385
    .BLUE_660
      color: #501D7B
    .BLUE_700
      color: #491771

    .WHITE_500
      color: #F0C4FF
    .BLACK_500
      color: #000000
    .WHITE_630
      color: #8E79B9


  .plus
    // @type number
    .version
      content: "0"

    .iconpack
      content: "rosiecord-plumpy"

    .mentionLineColor
      color: #9C3EBB

    // @type boolean
    .customOverlays
      content: "true"

    .icons
      .ic_radio_circle_checked
        color: #9C3EBB
      .ic_radio_circle_checked__overlay
        color: #FFFFFF
      .ic_radio_square_24px
        color: #9C3EBB
      .ic_radio_square_checked_24px
        color: #9C3EBB
      .ic_radio_square_checked_24px__overlay
        color: #FFFFFF
      .ic_rich_presence_dark_12px
        color: #9F8FC5
      .ic_selection_checked_24px
        color: #9C3EBB
      .ic_selection_checked_24px__overlay
        color: #FFFFFF
      .ic_star_filled
        color: #BA9CFF
      .img_guild_folder
        color: #9C3EBB
      .StatusMobileOnline
        color: #42c8c8
      .StatusOnline
        color: #42c8c8
      .StatusIdle
        color: #ffe168
      .StatusDND
        color: #ff4675
      .StatusOffline
        color: #5b536e


  // @type number
  .spec
    content: "2"
