.index
  .name
    content: "PurpAMOLED+"

  .description
    content: "AMOLED version of PurpDark with better icons"

  .authors
    [index="1"]
      .name
        content: "@vorlie"
      .id
        content: "614807913302851594"

    [index="2"]
      .name
        content: "@a35hie"
      .id
        content: "1118629361675939860"

  // @override children[*] Array<string>
  .semanticColors
    .HEADER_PRIMARY
      color: #5D3EBB
    .HEADER_SECONDARY
      color: #5d3ebb
    .TEXT_NORMAL
      color: #FAEBFF
    .TEXT_MUTED
      color: #9f8fc5
    .TEXT_LINK
      color: #9568ff
    .INTERACTIVE_NORMAL
      color: #714dd8
    .INTERACTIVE_ACTIVE
      color: #8260dc
    .INTERACTIVE_MUTED
      color: #5a4283
    .BACKGROUND_PRIMARY
      color: #000000
    .BACKGROUND_SECONDARY
      color: #000000
    .BACKGROUND_SECONDARY_ALT
      color: #120C13
    .BACKGROUND_TERTIARY
      color: #000000
    .BACKGROUND_ACCENT
      color: #1F1521
    .BACKGROUND_FLOATING
      color: #000000
    .BACKGROUND_MOBILE_PRIMARY
      color: #000000
    .BACKGROUND_MOBILE_SECONDARY
      color: #000000
    .BACKGROUND_NESTED_FLOATING
      color: #000000
    .BACKGROUND_MESSAGE_HOVER
      color: #1F1521
    .BACKGROUND_MODIFIER_HOVER
      color: #1F1521
    .BACKGROUND_MODIFIER_ACTIVE
      color: #1B0122
    .BACKGROUND_MODIFIER_SELECTED
      color: #1F1521
    .BACKGROUND_MODIFIER_ACCENT
      color: #000000
    .CHANNELTEXTAREA_BACKGROUND
      color: #333333
    .CHANNELS_DEFAULT
      color: #8871b7
    .TEXT_DANGER
      color: #FC0E61
    .KEYBOARD
      color: #000000
    .CHANNEL_ICON
      color: #683ebb
    .CHAT_BACKGROUND
      color: #000000

  .rawColors
    .PRIMARY_100
      color: #FFFFFF
    .PRIMARY_200
      color: #FFFFFF
    .PRIMARY_300
      color: #FFFFFF
    .PRIMARY_360
      color: #8871b7
    .PRIMARY_400
      color: #8571b7
    .PRIMARY_500
      color: #8b71b7
    .PRIMARY_600
      color: #000000
    .PRIMARY_630
      color: #000000
    .PRIMARY_660
      color: #000000
    .PRIMARY_700
      color: #000000
    .PRIMARY_800
      color: #000000
    .BRAND_260
      color: #3d08a8
    .BRAND_360
      color: #4308a8
    .BRAND_500
      color: #3d08a8
    .BRAND_560
      color: #d5c4ff
    .WHITE_500
      color: #dcc4ff
    .YELLOW_300
      color: #9169e0
    .GREEN_360
      color: #9569e0
    .RED_400
      color: #fc0e85

  .plus
    // @type number
    .version
      content: "0"

    .iconpack
      content: "rosiecord-plumpy"

  // @type number
  .spec
    content: "2"
