// PurpAMOLED+
// AMOLED version of PurpDark with better icons
//
// Original theme by @vorlie.
// Modified by @a35hie.

.index
  .name
    content: "PurpAMOLED+"

  .description
    content: "AMOLED version of PurpDark with better icons"

  .version
    content: "2.0"

  .authors
    [index="1"]
      .name
        content: "@vorlie"
      .id
        content: "614807913302851594"

    [index="2"]
      .name
        content: "@a35hie"
      .id
        content: "1118629361675939860"

  // @override children[*] Array<string>
  .semanticColors
    .APP_FRAME_BORDER
      color: #140D1C
    .ACTION_SHEET_GRADIENT_BG
      color: #0F0B14
    .ANDROID_RIPPLE
      color: #51437A

    .BACKGROUND_ACCENT
      color: #21182C
    .BACKGROUND_MENTIONED
      color: #5D3EBB33
    .BACKGROUND_MENTIONED_HOVER
      color: #8260DC80
    .BACKGROUND_MESSAGE_HOVER
      color: #19121F
    .BACKGROUND_MODIFIER_ACCENT
      color: #17101F
    .BACKGROUND_MODIFIER_ACTIVE
      color: #21182E
    .BACKGROUND_MODIFIER_HOVER
      color: #19121F
    .BACKGROUND_MODIFIER_SELECTED
      color: #21182E

    .BACKGROUND_MOBILE_PRIMARY
      color: #000000
    .BACKGROUND_MOBILE_SECONDARY
      color: #0D0912
    .BACKGROUND_NESTED_FLOATING
      color: #19121F
    .BACKGROUND_PRIMARY
      color: #000000
    .BACKGROUND_SECONDARY
      color: #0D0912
    .BACKGROUND_SECONDARY_ALT
      color: #15101C

    .BG_SURFACE_RAISED
      color: #18111F
    .BACKGROUND_BASE_LOW
      color: #000000
    .BACKGROUND_BASE_LOWEST
      color: #000000
    .BACKGROUND_BASE_LOWER
      color: #0A070D

    .BORDER_FAINT
      color: #302447
    .CARD_PRIMARY_BG
      color: #15101D
    .CARD_PRIMARY_PRESSED_BG
      color: #21182E
    .CARD_SECONDARY_BG
      color: #1A1322

    .CHANNEL_ICON
      color: #683EBB
    .CHANNELS_DEFAULT
      color: #9F8FC5
    .CHANNELTEXTAREA_BACKGROUND
      color: #09070C
    .CHAT_BACKGROUND
      color: #000000
    .EMBED_BACKGROUND
      color: #18111F

    .HEADER_PRIMARY
      color: #5D3EBB
    .HEADER_SECONDARY
      color: #8260DC
    .INPUT_BACKGROUND
      color: #09070C

    .INTERACTIVE_ACTIVE
      color: #8260DC
    .INTERACTIVE_HOVER
      color: #9568FF
    .INTERACTIVE_MUTED
      color: #5A4283
    .INTERACTIVE_NORMAL
      color: #714DD8

    .TEXT_LINK
      color: #9568FF
    .TEXT_NORMAL
      color: #FAEBFF
    .TEXT_MUTED
      color: #9F8FC5
    .TEXT_PRIMARY
      color: #FAEBFF

    .THREAD_CHANNEL_SPINE
      color: #683EBB

    .BG_BASE_PRIMARY
      color: #000000
    .BG_BASE_SECONDARY
      color: #0D0912
    .BG_BASE_TERTIARY
      color: #15101C
    .BG_MOD_FAINT
      color: #302447
    .BG_MOD_STRONG
      color: #21182C
    .BG_MOD_SUBTLE
      color: #5D3EBB29

    .REDESIGN_ACTIVITY_CARD_BACKGROUND
      color: #18111F

    .CONTROL_CRITICAL_PRIMARY_BACKGROUND_ACTIVE
      color: #5D3EBB
    .CONTROL_PRIMARY_BACKGROUND_DEFAULT
      color: #5D3EBB
    .CONTROL_PRIMARY_BACKGROUND_ACTIVE
      color: #714DD8
    .CONTROL_SECONDARY_BACKGROUND_DEFAULT
      color: #19121F
    .CONTROL_SECONDARY_BACKGROUND_ACTIVE
      color: #120D18
    .CONTROL_SECONDARY_BORDER_DEFAULT
      color: #2B203D
    .CONTROL_SECONDARY_BORDER_ACTIVE
      color: #21182F

    .REDESIGN_BUTTON_TERTIARY_BACKGROUND
      color: #15101C
    .REDESIGN_CHANNEL_CATEGORY_NAME_TEXT
      color: #B09BFF
    .REDESIGN_CHANNEL_NAME_TEXT
      color: #C4B0FF
    .REDESIGN_CHAT_INPUT_BACKGROUND
      color: #15101C

    .MENTION_FOREGROUND
      color: #BA9CFF
    .BACKGROUND_MOD_MUTED
      color: #100B15
    .STANDALONE_CHANNEL_CONTENT_BACKGROUND
      color: #000000
    .STANDALONE_CHANNEL_HEADER_BORDER
      color: #140D1C
    .INPUT_BACKGROUND_DEFAULT
      color: #09070C
    .INPUT_BORDER_ACTIVE
      color: #4E3694

    .MOBILE_ACTIONSHEET_BACKGROUND
      color: #000000
    .MOBILE_ACTIONSHEET_GRADIENT_BACKGROUND_DEFAULT
      color: #0F0B14
    .MOBILE_CHANNEL_ITEM_BACKGROUND_SELECTED
      color: #21182E
    .MOBILE_SEGMENTED_CONTROL_BACKGROUND
      color: #15101C
    .PANEL_BG
      color: #000000
    .BACKGROUND_SURFACE_HIGH
      color: #18111F
    .TAB_BAR_BACKGROUND
      color: #0A070D


  .rawColors
    .PRIMARY_100
      color: #FFFFFF
    .PRIMARY_200
      color: #F0C4FF
    .PRIMARY_300
      color: #FAEBFF
    .PRIMARY_330
      color: #E8D9F0
    .PRIMARY_360
      color: #9F8FC5
    .PRIMARY_400
      color: #9585BC
    .PRIMARY_460
      color: #6C4878
    .PRIMARY_500
      color: #8B71B7
    .PRIMARY_530
      color: #7F5FA8
    .PRIMARY_600
      color: #000000
    .PRIMARY_630
      color: #0D0912
    .PRIMARY_645
      color: #15101C
    .PRIMARY_660
      color: #000000
    .PRIMARY_700
      color: #000000
    .PRIMARY_730
      color: #21182C
    .PRIMARY_800
      color: #0A070D

    .PLUM_10
      color: #5A4283
    .PLUM_15
      color: #714DD8
    .PLUM_16
      color: #15101C
    .PLUM_17
      color: #0A070D
    .PLUM_18
      color: #21182C
    .PLUM_20
      color: #0D0912
    .PLUM_3
      color: #FFFFFF
    .PLUM_4
      color: #F0C4FF
    .PLUM_6
      color: #DCC4FF

    .BRAND_200
      color: #C8B8FF
    .BRAND_250
      color: #B9A5FF
    .BRAND_260
      color: #5D3EBB
    .BRAND_300
      color: #AA93FF
    .BRAND_330
      color: #9F87F5
    .BRAND_345
      color: #9278E8
    .BRAND_360
      color: #8569DC
    .BRAND_400
      color: #795BD0
    .BRAND_430
      color: #6F51C5
    .BRAND_500
      color: #6548BA
    .BRAND_530
      color: #5D42AD
    .BRAND_560
      color: #BA9CFF
    .BRAND_600
      color: #543C9F
    .BRAND_630
      color: #4C368F
    .BRAND_660
      color: #443080
    .BRAND_700
      color: #3C2A71
    .BRAND_730
      color: #342562
    .BRAND_760
      color: #2C2053
    .BRAND_800
      color: #241B44
    .BRAND_830
      color: #1D1636
    .BRAND_860
      color: #171128
    .BRAND_900
      color: #110C1D

    .RED_100
      color: #C8B8FF
    .RED_130
      color: #B9A5FF
    .RED_160
      color: #AA93FF
    .RED_200
      color: #9F87F5
    .RED_230
      color: #9278E8
    .RED_260
      color: #8569DC
    .RED_300
      color: #795BD0
    .RED_330
      color: #6F51C5
    .RED_345
      color: #694BC0
    .RED_360
      color: #6548BA
    .RED_400
      color: #5D42AD
    .RED_430
      color: #573DA3
    .RED_460
      color: #513899
    .RED_500
      color: #4C348F
    .RED_530
      color: #463085
    .RED_560
      color: #402B7B
    .RED_600
      color: #3A2771
    .RED_630
      color: #342367
    .RED_660
      color: #2E1F5D
    .RED_700
      color: #281B53
    .RED_730
      color: #221749
    .RED_760
      color: #1C143F
    .RED_800
      color: #171035
    .RED_830
      color: #120C2B
    .RED_860
      color: #0D0821
    .RED_900
      color: #080517

    .GREEN_100
      color: #C8B8FF
    .GREEN_130
      color: #B9A5FF
    .GREEN_160
      color: #AA93FF
    .GREEN_200
      color: #9F87F5
    .GREEN_230
      color: #9278E8
    .GREEN_260
      color: #8569DC
    .GREEN_300
      color: #795BD0
    .GREEN_330
      color: #6F51C5
    .GREEN_345
      color: #694BC0
    .GREEN_360
      color: #6548BA
    .GREEN_400
      color: #5D42AD
    .GREEN_430
      color: #573DA3
    .GREEN_460
      color: #513899
    .GREEN_500
      color: #4C348F
    .GREEN_530
      color: #463085
    .GREEN_560
      color: #402B7B
    .GREEN_600
      color: #3A2771
    .GREEN_630
      color: #342367
    .GREEN_660
      color: #2E1F5D
    .GREEN_700
      color: #281B53
    .GREEN_730
      color: #221749
    .GREEN_760
      color: #1C143F
    .GREEN_800
      color: #171035
    .GREEN_830
      color: #120C2B
    .GREEN_860
      color: #0D0821
    .GREEN_900
      color: #080517

    .CHAT_MENTIONS_BACKGROUND_DARK
      color: #5D3EBB4D
    .CHAT_MENTIONS_FOREGROUND_DARK
      color: #BA9CFF

    .GUILD_BOOSTING_BLUE
      color: #BA9CFF
    .GUILD_BOOSTING_BLUE_FOR_GRADIENTS
      color: #9568FF
    .GUILD_BOOSTING_PINK
      color: #8260DC
    .GUILD_BOOSTING_PINK_REFRESH
      color: #795BD0
    .GUILD_BOOSTING_PURPLE
      color: #714DD8
    .GUILD_BOOSTING_PURPLE_FOR_GRADIENTS
      color: #5D3EBB

    .ORANGE_260
      color: #BA9CFF
    .ORANGE_300
      color: #AFA0FF
    .ORANGE_330
      color: #A18FF5
    .ORANGE_345
      color: #927DE8
    .ORANGE_360
      color: #856FDC
    .ORANGE_400
      color: #795FD0
    .ORANGE_430
      color: #6F56C5
    .ORANGE_460
      color: #664DBA
    .ORANGE_500
      color: #5D45AD
    .ORANGE_530
      color: #553DA3
    .ORANGE_560
      color: #4D3699
    .ORANGE_600
      color: #452F8F
    .ORANGE_630
      color: #3D2885
    .ORANGE_660
      color: #35227B
    .ORANGE_700
      color: #2D1C71

    .YELLOW_260
      color: #BA9CFF
    .YELLOW_300
      color: #AFA0FF
    .YELLOW_330
      color: #A18FF5
    .YELLOW_345
      color: #927DE8
    .YELLOW_360
      color: #856FDC
    .YELLOW_400
      color: #795FD0
    .YELLOW_430
      color: #6F56C5
    .YELLOW_460
      color: #664DBA
    .YELLOW_500
      color: #5D45AD
    .YELLOW_530
      color: #553DA3
    .YELLOW_560
      color: #4D3699
    .YELLOW_600
      color: #452F8F
    .YELLOW_630
      color: #3D2885
    .YELLOW_660
      color: #35227B
    .YELLOW_700
      color: #2D1C71

    .BLUE_260
      color: #BA9CFF
    .BLUE_300
      color: #AFA0FF
    .BLUE_330
      color: #A18FF5
    .BLUE_345
      color: #927DE8
    .BLUE_360
      color: #856FDC
    .BLUE_400
      color: #795FD0
    .BLUE_430
      color: #6F56C5
    .BLUE_460
      color: #664DBA
    .BLUE_500
      color: #5D45AD
    .BLUE_530
      color: #553DA3
    .BLUE_560
      color: #4D3699
    .BLUE_600
      color: #452F8F
    .BLUE_630
      color: #3D2885
    .BLUE_660
      color: #35227B
    .BLUE_700
      color: #2D1C71

    .WHITE_500
      color: #F0C4FF
    .BLACK_500
      color: #000000
    .WHITE_630
      color: #8E79B9


  .plus
    // @type number
    .version
      content: "0"

    .iconpack
      content: "rosiecord-plumpy"

    .mentionLineColor
      color: #9C3EBB

    // @type boolean
    .customOverlays
      content: "true"

    .icons
      .ic_radio_circle_checked
        color: #8260DC
      .ic_radio_circle_checked__overlay
        color: #FFFFFF

      .ic_radio_square_24px
        color: #8260DC
      .ic_radio_square_checked_24px
        color: #8260DC
      .ic_radio_square_checked_24px__overlay
        color: #FFFFFF

      .ic_rich_presence_dark_12px
        color: #9F8FC5

      .ic_selection_checked_24px
        color: #8260DC
      .ic_selection_checked_24px__overlay
        color: #FFFFFF

      .ic_star_filled
        color: #BA9CFF
      .img_guild_folder
        color: #8260DC

      .StatusMobileOnline
        color: #42C8C8
      .StatusOnline
        color: #42C8C8
      .StatusIdle
        color: #FFE168
      .StatusDND
        color: #FF4675
      .StatusOffline
        color: #5B536E


  // @type number
  .spec
    content: "2"
